* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, body, footer {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
header h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}
header h1 span {
    color: #f39c12;
}
.navegador{
    background-color: rgb(33, 33, 33); /* Fondo gris oscuro */
    padding: 10px 0;
}
.navegadorinterior {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navegadorinterior a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.imgprincipal {
    text-align: center; 
    padding: 20px;
}
.imgprincipal img {
    width: 100%; 
    height: auto;
    display: block;
}
article{
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 20px;
}
section{
    padding: 20px;
}
h4{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
}
#new{
    margin-top: 100px;
}
#encabezado{
    text-align: center;
}
#contnoti{
    text-align: center;
    width: 90%;
}
.box{
    width: 40%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); /* Transparencia leve */
}
#new{
    text-align: center;
    padding-left: 50px;
}
.boxext{
    display: flex;
}
#aplicaciones{
    text-align: center;
}
table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
    margin: 2% 5%;
  }
  .titulo{
    text-align: center;
  }
th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ffffff;
}
footer{
    background-color: rgb(24, 23, 23);
    color: white;   
    text-align: center;
    padding: 20px;
    font-size: large;
}